 /*@font-face{font-family:"Ionicons";src:url("../fonts/ionicons.eot?v=2.0.0");src:url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"),url("../fonts/ionicons.woff?v=2.0.0") format("woff"),url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");font-weight:normal;font-style:normal} */

html{
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: flex-start; */
    height: 100%;
}

.attention{
    position: fixed;
    top: calc(100% - 50px);
    width: 100%;
    height: 20px;
    font-size: 200%;
    color: #C20000;
    text-align: center;
}
.settings-link-list{
    padding: 0;
    margin: 0;
    list-style: none;
}
.settings-link-list li{
    margin-bottom: 5px;
}
.settings-link-list .btn{
    width: 70px;
}

/* --- START ------ Color Palett */
.navbar-ul { 
    list-style: none;
    display: inline-flex;
    /*background-color: #2D772C;*/
    color: #FFFFFF;
    margin: 0 auto;
    /* padding: 0; */
    height: 39px;
    text-align: center;
}

.selected{ 
    background-color: #fff;
    color: #272822;
    /*border: 1px solid #E7E7E7;*/

    border-top: 4px solid #FF600A;
}

.top-header{
    height: 90px;
    width: 100%;
    background-color: #FFF;
    position: fixed;
    top: 0;

}

.navbar{
    border-top: 2px solid #2D4F6B;
    /*float: left;*/
    /* height: 49px; */
    width: 900px;
    /* height: 100%; */
    /*position: fixed;*/
    /*align-self: flex-start;*/
   margin: auto;
   padding: 0;
    /*height: 100%;*/
    background-color: #375F81 ;/*#424f5a;*/
    color: #fff;
}

.search-row{
    padding-left: 10px;
}


.navbar a{
    color: #E6E6E6;
}

.navbar a:hover{
    color: #fff;
}


.navbar-item{
    width: 160px;
    text-align: center;
    height: 39px;
    /*border: 1px solid #375F81;*/
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    padding: 0;
    margin: 0;
}
.navbar-item:hover{
   
    /*background-color: #C6C6C6;*/
}
.side-bar-row:hover{
  background-color: #E7E7E7;
}

.page-title{
    /*position: fixed;*/
    /*z-index: 999;*/
    top: 47px;
    width: 980px;
    /*height: 40px;*/
    padding-left: 10px;
margin: auto;
    /*background-color: #E7E7E7;*/
}

.navbar-ul li{
    /*background-color: #A9FF71; /*2D5740*/
    /*color: #252525;*/
}

.navbar-ul li:hover{
     /*background-color: #3FAE3D ;*/
     /*color: #FFFFFF; */
}

body{
    width: 100%;
    /*height: 100%;*/
    /*background-color: #E7E7E7;*/
    color: #1F1F1F;
    /* display: flex; */
    font-family: 'Open Sans', sans-serif;
     /*font-family: 'Roboto Condensed', sans-serif; */
    font-size: 11px;
    margin: 0;
    padding: 0;
}

.btn{
    /*background: -webkit-linear-gradient(top, #E5E5E5, #7FBDFF);*/
    /*background: -o-linear-gradient(top, #E5E5E5, #7FBDFF);*/
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    text-align: center;
    /*  background: linear-gradient(to bottom, #E5E5E5, #DAECFF);*/


}


.btn:hover{
    background: linear-gradient(-180deg, #B9D5E6 0%, #9EBCDF 90%);
   
}
table{
    font-size: 100%;
}

table tr{
    background-color: #fff ;
}
table tr:nth-child(1n){
    background-color: #F0F0F0 ;
}
table tr:nth-child(2n){
    background-color: #FFF ;
}


table tr:hover{
    /* background-color: #DFEEFD ; */
}



.sel{
    /*background-color: #355C7B;*/
    color: #fff;
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
    border-color: rgba(27,31,35,0.5);
}

.sel:hover{
    background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53 30%, #269f42 100%);
    /*background-position: 0 -0.5em;*/
    border-color: rgba(27,31,35,0.5);
    color: #FFF;
}

.primary{
    background-color: #28a745;
    background-image: linear-gradient(-180deg, #2fcb53 0%, #269f42 90%);
    
    border: 1px solid rgba(27,31,35,0.2);
    color: #fff;
}

.primary:hover{
    background-color: #269f42;
    background-image: linear-gradient(-180deg, #2fcb53 30%, #269f42 100%);
    /*background-position: 0 -0.5em;*/
    border-color: rgba(27,31,35,0.5);
    color: #FFF;
}



/* --- END ----- Color Palett */

.fill{
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

button{
    background-image: linear-gradient(-180deg, #fafbfc 0%, #eff3f6 90%);
    display: inline-block;
    /* height: 30px; */
    /* min-width: 100px; */
    /*border: 1px solid #BABABA;*/
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 5px;
    /* font-family: sans-serif; */
    font-size: 100%;
    /* font-weight: 600; */
    cursor: pointer;
    text-align: center;
    max-width: 250px;
    /*vertical-align: middle;*/
    padding: 6px 20px;
    /* height: 24px; */
}

button:hover{
    background: linear-gradient(-180deg, #B9D5E6 0%, #9EBCDF 90%);
}

.btn{
    display: inline-block;
    /* height: 30px; */
    /* min-width: 100px; */
    /*border: 1px solid #BABABA;*/
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 5px;
    /* font-family: sans-serif; */
    /* font-size: 100%; */
    /*font-weight: 600;*/
    cursor: pointer;
    text-align: center;
    max-width: 250px;
    /*vertical-align: middle;*/
    padding: 5px 20px;
    /* height: 24px; */
}

.btn-small{
    display: inline-block;
    /* height: 30px; */
    width: 20px;
    /*border: 1px solid #BABABA;*/
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 5px;
    /* font-family: sans-serif; */
    font-size: 150%;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    max-width: 250px;
    /*vertical-align: middle;*/
    padding: 6px 8px;
}

.btn-s{
    display: inline-block;
    height: 7px;
    width: 7px;
    /*border: 1px solid #BABABA;*/
    border: 1px solid rgba(27,31,35,0.2);
    border-radius: 5px;
    /* font-family: sans-serif; */
    /* font-size: 150%; */
    /* font-weight: 600; */
    cursor: pointer;
    text-align: center;
    /* max-width: 250px; */
    /*vertical-align: middle;*/
    padding: 2px 2px;
}

.btn-small:hover{
    background: linear-gradient(-180deg, #B9D5E6 0%, #9EBCDF 90%);
}


a{
    text-decoration: none;
    color: #000
}

a:hover{
/*   background-color: #144785;*/
}

h1{
    color: #1e392a;
}

h3{
    color: #1e392a;
    padding: 7px;
    margin: auto;
}

.row{
    width: 100%;
    height: 50px;
    display: block;
    margin-bottom: 5px;
}

.row-auto{
    width: 100%;
    /*height: 16px;*/
    background-color: #375F81 ;
}

.row30{
    width: 100%;
    height: 30px;
}
.row40{
    width: 100%;
    height: 40px;
}
.row-title{
    width: 100%;
    height: 20px;
}

.row-fill{
    width: 100%;
    height: 30px;
}



.col-20{
    width: 20px;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-1-8{
    width: 12.5%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-2-8{
    width: 25%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-3-8{
    width: 37.5%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-4-8{
    width: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-5-8{
    width: 62.5%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-6-8{
    width: 75%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-7-8{
    width: 87.5%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-8-8{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.rr{
    float: right;
}
.mm{
    
}


.col-1-4{
    width: 25%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-2-4{
    width: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-3-4{
    width: 75%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-4-4{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}



.client-form{
    /* width: 100%;    */
}

.client-form label{
    font-size: 95%;
    /*font-style: oblique;*/
    /* font-weight: bold; */

}

.client-form select{

    padding: 5px  0 5px 5px ;
    /*border: 1px solid #586573;*/
    margin-bottom: 5px; 
    width: 95%;
    font-size: 110%;
}

.formright{
    width: 100%;
    margin: 0;
    padding: 0;
    float: right;
}
.formright input[type="text"]{
    float: right;
    width: 200px;
}
.formright input[type="submit"]{
    float: right;
    width: 20%
}
/* 
.table-td-num,
.table-td-status{
    width: 28px;
}
.table-td-client{
    width: 200px;
}
.table-td-director{
    width: 190px;
}
.table-td-contract,
.table-td-payment,
.table-td-master{
    width: 115px;
} */

.table-td-num,
.table-td-status,
.table-td-check,
.table-td-place{
    width: 4%;
}

.table-td-count{
    width: 15%;
}
.table-td-client,
.table-td-work{
    text-align: left;
}
.table-td-director,
.table-td-object,
.table-td-reason{
    text-align: left;
    width: 15%;
}
.table-td-contract,
.table-td-payment,
.table-td-master,
.table-td-price,
.table-td-summ,
.table-td-date{
    width: 12%;
    text-align: left;
}



.table-td-25{
    width: 25px;
}
.table-td-50{
    width: 50px;
}
.table-td-75{
    width: 75px;
}
.table-td-100{
    width: 100px;
}
.table-td-125{
    width: 125px;
}
.table-td-150{
    width: 150px;
}
.table-td-175{
    width: 175px;
}
.table-td-200{
    width: 200px;
}
.table-td-225{
    width: 225px;
}
.table-td-250{
    width: 250px;
}

.text-h-center{
    text-align: center;
}
.text-h-right{
    text-align: right;
}
.text-v-middle{
    vertical-align: middle;
    display: inline-block;
    padding: 7px;
}

.al-right{
    display: inline-block;
    float: right;
}

.list-default{
    list-style: none;
    padding: 0;
    margin: 0;
}


.navblock{
    width: 50%;
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    /*margin:  auto;*/
    /*background-color: #00ff00;*/
}

.navblock li{
    width: 30%;
}

.myform {
	width: 100%;
    /* margin: 10px 0; */
    /* padding-bottom: 10px; */
    height: 30px;
    /*background-color: #00ff00;*/
}

.inputfield-copy{
    display: inline-block;
    float: left;

    /*height: 35px;*/
    /*padding: 15px;*/
    /* margin: 0px 5px 10px 0; */
      
/*    float: left;*/
    border: 1px solid #BABABA;
    border-radius: 5px;
    /* margin-right: 25px; */
    font-size: 110%;

    /*height: 20px;*/
    padding: 5px  0 5px 5px ;
    /* float: left; */
    /*border: 1px solid #586573;*/
  
    margin-bottom: 5px; 
    /*width: calc(100% - 12px);*/
    width: 100%;
}
.search{
    display: inline-block;
    float: left;
    border: 1px solid #BABABA;
    border-radius: 5px;
    /* margin-right: 25px; */
    font-size: 110%;

    height: 19px;
    padding: 5px  0 5px 5px ;
    /* float: left; */
    /*border: 1px solid #586573;*/
  
    margin-bottom: 5px; 
    width: 300px;

}
.inputfield{
    display: inline-block;
    float: left;
    border: 1px solid #BABABA;
    border-radius: 5px;
    /* margin-right: 25px; */
    font-size: 110%;
    background-color: #fff;
    /*height: 20px;*/
    padding: 5px  0 5px 5px ;
    /* float: left; */
    /*border: 1px solid #586573;*/
  
    margin-bottom: 5px; 
    width: calc(100% - 12px);

}



.status{
    padding: 0;
    margin: 0;
    /*width: auto;*/
    text-align: center;
}
.date{
    font-size: 80%;
}
.new{
   background-color: #FEFFBF;
}
.done{
   background-color: #C8FFBF;
}
.wait{
   background-color: #FFBFF7; 
}
.abort{
   background-color: #FFBFBF; 
}
/* .wip{
    background-color: #BFD9FF;
} */



.footer{
    width: 100%;
    height: 200px;
    /* background-color: #3E3E3E; */
    /* display: flex; */

    /* align-self: first-baseline; */
    

    text-align: center;
    color: #eee;
}





.pos{
    display: inline-block;
    float: left;
    /*width: 15%;*/
   /* height: 30px;*/
}

.clearfix{
    clear: left;
}



.tabl {
    width: 100%;
    height: 75vh;
    overflow-y: auto;
    /*padding: 2px;*/

    /* margin-left: 10px; */

}
table {
    vertical-align: top;
    border:  1px solid #eaecef;
    border-collapse: collapse;
    padding: 20px;
    width: 100%;

}

table th {
    background-color: #355C7B; /*148533   586573*/
    /*border: 1px solid #355C7B;*/
    color: #fff;
    padding: 6px 3px;
    border-top: 1px solid #355C7B ;
    border-left: 1px solid #355C7B ;
    /* border-right: 4px solid #386182; */
    border-bottom: 1px solid #355C7B;

}

.table-simple {
   background-color: #fff;
   margin: 0;
}

.table-simple td:first-child{
    text-align: center;
}




table th:last-child{
    border-right: 1px solid #355C7B ;
}

table td {
    /* border-bottom:  1px solid #eaecef; */
    /*border-left: 1px solid #FFF;*/
    padding: 3px 3px;
    line-height: 20px;
}



.default{
  
    font-size: 55%;
    vertical-align: middle;
    padding: 0;
    margin: 0;
}





.sideul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.devider{
    width: 50px;
    /*border-left: 1px solid #fff; */
}


.sideul li{
   /*font-family: Ionicons;*/
   text-transform: none;
   display: inline-block;
   cursor: pointer;
   vertical-align: middle;
   /* text-align: center; */
   padding: 5px 0;
   margin-bottom: 5px;

   /* height: 60px; */
   /*border-radius: 10%;*/

}

/*.sideul li.active{
    background-color: #528741;
}*/




.sbf{
    font-size: 200%;
}
.container{
    /*margin-left: auto;*/
    /* margin-right: auto; */
    /*height: 100%;*/
    width: 980px;
    /*max-width: 1100px ; */
    /*min-width: 800px; */
    /* padding: 10px; */
    /* display: flex; */
    /* align-items: row; */
    /* flex-direction: row; */
    margin: auto;
   /*  max-width: 1200px; */
    /*margin-left: 10PX;*/
   

}

#content{
    /*float: left;*/
    display: block;
    /*position: relative;*/
    /*left: 210px;*/
    margin-top: 90px;
    /* padding: 0 10px; */
    width: 100%;
    /*height: vh;*/
    
}
.lside{
    display: inline-block;
    float: left;
   
    width: 140px;
    padding: 1px;
    /* background-color: #ffff00; */
}

.navul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    /*background-color: #0000ff;*/

}

.navul li{
        display: inline-block;
        /* padding: 7px 0; */
        vertical-align: middle;
        min-width: 50px;
        /*width: 15.7%;*/
        /*background-color: #00ff00;*/
        text-align: center;
}

.pad{
    height: 10px;
    padding: 0;
}

.navtop{
    /*background-color: #ff0000;*/

    padding: 0;
    margin: 10px;
    width: 100%;
    /* padding-bottom: 40px; */
}
.nt{
    padding-bottom: 31px;
}

.addclient{
    /*padding-top: 30px;*/
}

.list-dropdown{
    display: inline-block;
    float: left;
    /* padding: 5px; */
    margin: 0;
    /*width: 40%;*/
     padding: 0; 
    height: 32px;
    border: 1px solid #BABABA;
    /* border-radius: 4px; */
    /* color: #6F6F6F; */
    /* margin-bottom: 5px;  */
     width: 100%; 
    /* font-size: 110%; */
}

.good{
    color: #026A00;
}
.bad{
    color: #BE0300;
}

.out{
    color: #004584;
}

.wip{
    color: #FF8700;
}


.list-clear{
    list-style: none;
}

.text-h-right{
    text-align: right;
}

.table-simple{
    border: 0;
    margin: 0;
    padding: 0;
}

.table-simple td{
    border: 0;
    padding: 0;
    margin: 0;
}

.table-simple tr{
    border: 0;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid #eaecef;
}

.table-simple tr:last-child{
    border-bottom: 0;
}

.fst{
    text-align: center;
    width: 25px;
}


#title{
    margin: 0;
}

#edit {
    width: 50px;
    text-align: center;
}

.summ-own{
    color: #ff0000;
    font-weight: 600;
    font-size: 150%;
}
.summ-pay{
    color: #0F890F;
    font-weight: 600;
    font-size: 120%;
}
.btn-edit{
    font-size: 150%;
    color: #646464;
    cursor: pointer;
}