@font-face{font-family:"Ionicons";src:url("../fonts/ionicons.eot?v=2.0.0");src:url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"),url("../fonts/ionicons.woff?v=2.0.0") format("woff"),url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");font-weight:normal;font-style:normal}


/* --- START ------ Color Palett */
.sideul { 
    background-color: #2D772C;
    color: #FFFFFF;
}

.selected{ 
    background-color: #E7E7E7;
    color: #272822;
}

.sidebar{
    float: left;
    width: 200px;
    height: 100%;
    position: fixed;
    margin: 0;
    background-color: #424f5a;
    color: #fff;
}

.sidebar a{
    color: #fff;
}

.sidebar a:hover{
    color: #272822;
}


.side-bar-row{
    width: 100%;
    padding: 15px 0;
     /*margin: 2px 0; */
    height: 30px;
}

.side-bar-row:hover{
  background-color: #E7E7E7;
}


.side-bar-item{
    width: 30px;
    height: 100%;
    padding: 0 5px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;    
}

.side-bar-text{
    margin: auto;
    height: 100%;
    padding: 5px;
    display: inline-block;
     /* color: #fff; */
    /* vertical-align: middle; */
}

.sideul li{
    background-color: #A9FF71; /*2D5740*/
    color: #252525;
}

.sideul li:hover{
     background-color: #3FAE3D ;
     color: #FFFFFF; 
}

body{
    background-color: #E7E7E7;
    color: #1F1F1F;
}

.btn{
    background-color: #fff;
}


.btn:hover{
    background-color: #53544F;
    color: #fff;
}

table tr{
    background-color: #fff ;
}

table tr:hover{
    background-color: #D6D6D6 ;
}



.sel{
    background-color: #2D772C;
    color: #fff;
}







/* --- END ----- Color Palett */

.fill{
    /* display: inline-block; */
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.btn{
    display: inline-block;
    /* height: 30px; */
    width: 80px;
    border: 1px solid #BABABA;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 100%;
    cursor: pointer;
    text-align: center;
    max-width: 100px;
    vertical-align: middle;
    padding: 6px 0;
    /* height: 24px; */
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #000
}

a:hover{
/*   background-color: #144785;*/
}

h1{
    color: #1e392a;
}

.row{
    width: 100%;
    height: 50px;
    display: block;
    margin-bottom: 5px;
}

.row-auto{
    width: 100%;
    height: 16px;
}

.row30{
    width: 100%;
    height: 30px;
}
.row40{
    width: 100%;
    height: 40px;
}
.row-title{
    width: 100%;
    height: 20px;
}

.row-fill{
    width: 100%;
    height: 30px;
}

.col-1-8{
    width: 12.5%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-2-8{
    width: 25%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-3-8{
    width: 37.5%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-4-8{
    width: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-5-8{
    width: 62.5%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-6-8{
    width: 75%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-7-8{
    width: 87.5%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-8-8{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}


.col-1-4{
    width: 25%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-2-4{
    width: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-3-4{
    width: 75%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-4-4{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}



.client-form{
    /* width: 100%;    */
}

.client-form label{
    font-size: 95%;
    /*font-style: oblique;*/
    /* font-weight: bold; */

}

.client-form select{

    padding: 5px  0 5px 5px ;
    /*border: 1px solid #586573;*/
    margin-bottom: 5px; 
    width: 95%;
    font-size: 110%;
}

.formright{
    width: 100%;
    margin: 0;
    padding: 0;
    float: right;
}
.formright input[type="text"]{
    float: right;
    width: 200px;
}
.formright input[type="submit"]{
    float: right;
    width: 20%
}

.table-td-1{
    width: 25px;
}
.table-td-2{
    width: 50px;
}
.table-td-3{
    width: 75px;
}
.table-td-4{
    width: 100px;
}
.table-td-5{
    width: 125px;
}
.table-td-6{
    width: 150px;
}
.table-td-7{
    width: 175px;
}
.table-td-8{
    width: 200px;
}
.table-td-9{
    width: 225px;
}
.table-td-10{
    width: 250px;
}

.text-h-center{
    text-align: center;
}
.text-v-middle{
    vertical-align: middle;
    display: inline-block;
    padding: 7px;
}

.al-right{
    display: inline-block;
    float: right;
}

.list-default{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar{
    /* margin-left: 10px; */
    width: 100%;
    height: 30px;
    /* vertical-align: middle; */
}
.navblock{
    width: 50%;
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    /*margin:  auto;*/
    /*background-color: #00ff00;*/
}

.navblock li{
    width: 30%;
}

.myform {
	width: 100%;
    /* margin: 10px 0; */
    /* padding-bottom: 10px; */
    height: 30px;
    /*background-color: #00ff00;*/
}

.inputfield-copy{
    display: inline-block;
    float: left;

    /*height: 35px;*/
    /*padding: 15px;*/
    /* margin: 0px 5px 10px 0; */
      
/*    float: left;*/
    border: 1px solid #BABABA;
    border-radius: 5px;
    /* margin-right: 25px; */
    font-size: 110%;

    /*height: 20px;*/
    padding: 5px  0 5px 5px ;
    /* float: left; */
    /*border: 1px solid #586573;*/
  
    margin-bottom: 5px; 
    width: calc(100% - 12px);

}
.search{
    display: inline-block;
    float: left;
    border: 1px solid #BABABA;
    border-radius: 5px;
    /* margin-right: 25px; */
    font-size: 110%;

    height: 19px;
    padding: 5px  0 5px 5px ;
    /* float: left; */
    /*border: 1px solid #586573;*/
  
    margin-bottom: 5px; 
    width: 300px;

}
.inputfield{
    display: inline-block;
    float: left;
    border: 1px solid #BABABA;
    border-radius: 5px;
    /* margin-right: 25px; */
    font-size: 110%;

    /*height: 20px;*/
    padding: 5px  0 5px 5px ;
    /* float: left; */
    /*border: 1px solid #586573;*/
  
    margin-bottom: 5px; 
    width: calc(100% - 12px);

}



.status{
    padding: 0;
    margin: 0;
    /*width: auto;*/
    text-align: center;
}
.date{
    font-size: 80%;
}
.new{
   background-color: #FEFFBF;
}
.done{
   background-color: #C8FFBF;
}
.wait{
   background-color: #FFBFF7; 
}
.abort{
   background-color: #FFBFBF; 
}
.wip{
    background-color: #BFD9FF;
}



.footer{
    width: 100%;
    height: 50px;
    background-color: #3E3E3E;
    position: fixed;
    top: calc(100% - 50px);

    text-align: center;
    color: #fff;
}





.pos{
    display: inline-block;
    float: left;
    /*width: 15%;*/
   /* height: 30px;*/
}

.clearfix{
    clear: left;
}



.tabl {
    width: auto;
    height: auto;
    /*padding: 2px;*/

    /* margin-left: 10px; */

}
table {
    vertical-align: top;
    border: 1px solid #0e5f24;
    border-collapse: collapse;
    padding: 20px;
    width: 100%;
}

table th {
    background-color: #53544F; /*148533   586573*/
    border: 1px solid #53544F;
    color: #fff;
    padding: 5px;
}

table td {
    border: 1px solid #586573; /*0e5f24*/
    padding: 5px;
}



#default{
    font-family: sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
}





.sideul{
    list-style: none;
    margin: 0;
    padding: 0;
}




.sideul li{
   font-family: Ionicons;
   text-transform: none;
   display: inline-block;
   cursor: pointer;
   vertical-align: middle;
   /* text-align: center; */
   padding: 5px 0;
   margin-bottom: 5px;

   /* height: 60px; */
   /*border-radius: 10%;*/

}

/*.sideul li.active{
    background-color: #528741;
}*/




.sbf{
    font-size: 200%;
}
.container{
    /*margin-left: auto;*/
    /* margin-right: auto; */
    /* height: 1000px; */
    width: 100% ;
    min-width: 1000px; 
    padding: auto;
    /* margin: auto; */
   /*  max-width: 1200px; */
    
   

}

#content{
    float: left;
    display: block;
    position: relative;
    left: 215px;
    /*margin: auto;*/
    /*padding: auto;*/
    width: 80%;
    height: vh;
    
}
.lside{
    display: inline-block;
    float: left;
   
    width: 140px;
    padding: 1px;
    /* background-color: #ffff00; */
}

.navul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    /*background-color: #0000ff;*/

}

.navul li{
        display: inline-block;
        /* padding: 7px 0; */
        vertical-align: middle;
        min-width: 50px;
        /*width: 15.7%;*/
        /*background-color: #00ff00;*/
        text-align: center;
}

.pad{
    height: 10px;
    padding: 0;
}

.navtop{
    /*background-color: #ff0000;*/

    padding: 0;
    margin: 10px;
    width: 100%;
    /* padding-bottom: 40px; */
}
.nt{
    padding-bottom: 31px;
}

.addclient{
    /*padding-top: 30px;*/
}

.list-dropdown{
    display: inline-block;
    float: left;
    /* padding: 5px; */
    margin: 0;
    /*width: 40%;*/
     padding: 0; 
    height: 32px;
    border: 1px solid #BABABA;
    /* border-radius: 4px; */
    /* color: #6F6F6F; */
    /* margin-bottom: 5px;  */
     width: 100%; 
    /* font-size: 110%; */
}




#fst{
    text-align: center;
    width: 25px;
}


#title{
    margin: 0;
}

#edit {
    width: 50px;
    text-align: center;
}

