@font-face{font-family:"Ionicons";src:url("../fonts/ionicons.eot?v=2.0.0");src:url("../fonts/ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"),url("../fonts/ionicons.ttf?v=2.0.0") format("truetype"),url("../fonts/ionicons.woff?v=2.0.0") format("woff"),url("../fonts/ionicons.svg?v=2.0.0#Ionicons") format("svg");font-weight:normal;font-style:normal}


/* --- START ------ Color Palett */
.sideul li{
    background-color: #2D5740;
}

body{
    background-color: #F8F8F8;
    color: #323232;
}

.btn{
    background-color: #fff;
}


.btn:hover{
    background-color: #3cc47c;
    color: #fff;
}
.sideul li:hover{
     background-color: #3cc47c ; 
}
table tr:hover{
    background-color: #3cc47c ;
}



.sel{
    background-color: #3cc47c;
    color: #fff;
}

.sideul .selected{
    background-color: #3cc47c;
}

#sidebar{
    background-color: #1e392a; /* #004068;  *//*3E3E3E*/
    color: #E3E3E3;
}




/* --- END ----- Color Palett */

.btn{
    display: inline-block;
    /* height: 30px; */
    width: 80px;
    border: 1px solid #BABABA;
    border-radius: 5px;
    font-family: sans-serif;
    font-size: 100%;
    cursor: pointer;
    text-align: center;
    max-width: 100px;
    vertical-align: middle;
    padding: 6px 0;
    /* height: 24px; */
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #3C3C3C
}

a:hover{
/*   background-color: #144785;*/
}

h1{
    color: #1e392a;
}

.row{
    width: 100%;
    height: 45px;
    display: block;
}
.row30{
    width: 100%;
    height: 30px;
}

.col-1-8{
    width: 12.5%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-2-8{
    width: 25%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-3-8{
    width: 37.5%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-4-8{
    width: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-5-8{
    width: 62.5%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-6-8{
    width: 75%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-7-8{
    width: 87.5%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-8-8{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}


.col-1-4{
    width: 25%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-2-4{
    width: 50%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-3-4{
    width: 75%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}
.col-4-4{
    width: 100%;
    display: inline-block;
    padding: 0;
    margin: 0;
    height: 100%;
    float: left;
}



.client-form{
    /* width: 100%;    */
}

.client-form label{
    font-size: 95%;
    /*font-style: oblique;*/
    /* font-weight: bold; */

}

.client-form select{
    padding: 4px;
    border: 1px solid #586573;
    margin-bottom: 5px; 
    width: 95%;
    font-size: 110%;
}
.client-form input[type="text"]{

    height: 20px;
    padding: 2px;
    /* float: left; */
    border: 1px solid #586573;
    font-size: 110%;
    margin-bottom: 5px; 
    width: calc(100% - 12px);
}

.formright{
    width: 100%;
    margin: 0;
    padding: 0;
    float: right;
}
.formright input[type="text"]{
    float: right;
    width: 200px;
}
.formright input[type="submit"]{
    float: right;
    width: 20%
}

.table-td-1{
    width: 25px;
}
.table-td-2{
    width: 50px;
}
.table-td-3{
    width: 75px;
}
.table-td-4{
    width: 100px;
}
.table-td-5{
    width: 125px;
}
.table-td-6{
    width: 150px;
}
.table-td-7{
    width: 175px;
}
.table-td-8{
    width: 200px;
}
.table-td-9{
    width: 225px;
}
.table-td-10{
    width: 250px;
}

.text-h-center{
    text-align: center;
}
.text-v-middle{
    vertical-align: middle;
    display: inline-block;
    padding: 7px;
}

.al-right{
    display: inline-block;
    float: right;
}

.list-default{
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar{
    /* margin-left: 10px; */
    width: 100%;
    height: 30px;
    /* vertical-align: middle; */
}
.navblock{
    width: 50%;
    float: left;
    display: inline-block;
    margin: 0;
    padding: 0;
    /*margin:  auto;*/
    /*background-color: #00ff00;*/
}

.navblock li{
    width: 30%;
}

.myform {
	width: 100%;
    /* margin: 10px 0; */
    /* padding-bottom: 10px; */
    height: 30px;
    /*background-color: #00ff00;*/
}

.inputfield{
    display: inline-block;
    float: left;
	width: calc(100% - 10px);
    height: 24px;
    /* margin: 0px 5px 10px 0; */
    /* padding: 5px; */
/*    float: left;*/
    border: 1px solid #BABABA;
    border-radius: 5px;
    /* margin-right: 25px; */
    font-size: 110%;

}

.search{
    width: 200px;
    height: 26px;
}

.status{
    padding: 0;
    margin: 0;
    /*width: auto;*/
    text-align: center;
}
.date{
    font-size: 80%;
}
.new{
   background-color: #FEFFBF;
}
.done{
   background-color: #C8FFBF;
}
.wait{
   background-color: #FFBFF7; 
}
.abort{
   background-color: #FFBFBF; 
}
.wip{
    background-color: #BFD9FF;
}



.footer{
    width: 100%;
    height: 50px;
    background-color: #3E3E3E;
    position: fixed;
    top: calc(100% - 50px);

    text-align: center;
    color: #fff;
}





.pos{
    display: inline-block;
    float: left;
    /*width: 15%;*/
   /* height: 30px;*/
}

.clearfix{
    clear: left;
}



.tabl {
    width: auto;
    height: auto;
    /*padding: 2px;*/

    /* margin-left: 10px; */

}
table {
  
    vertical-align: top;
    border: 1px solid #0e5f24;
    border-collapse: collapse;
    padding: 20px;
    width: 100%;
}

table th {
    background-color: #2D5740; /*148533   586573*/
    border: 1px solid #2D5740;
    color: #fff;
    padding: 5px;
}

table td {
    border: 1px solid #586573; /*0e5f24*/
    
    padding: 5px;
}



#default{
    font-family: sans-serif;
    font-size: 100%;
    padding: 0;
    margin: 0;
}



#sidebar{
    float: left;
    width: 90px;
    height: 100%;
    position: fixed;
   
    margin: 0;
    padding: 5px;

}

.sideul{
    list-style: none;
    margin: 0;
    padding: 0;
}



.sideul li{
   font-family: Ionicons;
   text-transform: none;
   display: block;
   cursor: pointer;
   text-align: center;
   padding: 5px 0;
   margin-bottom: 5px;
   color: #fff;
   /* height: 60px; */
   /*border-radius: 10%;*/

}

/*.sideul li.active{
    background-color: #528741;
}*/




.sbf{
    font-size: 300%;
}
.container{
    /*margin-left: auto;*/
    /* margin-right: auto; */
    /* height: 1000px; */
    width: 100% ;
    min-width: 1000px; 
   /*  max-width: 1200px; */
    
   

}

#content{
    float: left;
    display: inline-block;
    /* position: relative; */
    /* left: 150px; */
    /*margin: auto;*/
    /*padding: auto;*/
    width: 85%;
    height: vh;

}
.lside{
    display: inline-block;
    float: left;
   
    width: 110px;
    padding: 1px;
    /* background-color: #ffff00; */
}

.navul{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    /*background-color: #0000ff;*/

}

.navul li{
        display: inline-block;
        /* padding: 7px 0; */
        vertical-align: middle;
        min-width: 50px;
        /*width: 15.7%;*/
        /*background-color: #00ff00;*/
        text-align: center;
}

.pad{
    height: 10px;
    padding: 0;
}

.navtop{
    /*background-color: #ff0000;*/

    padding: 0;
    margin: 10px;
    width: 100%;
    /* padding-bottom: 40px; */
}
.nt{
    padding-bottom: 31px;
}

.addclient{
    /*padding-top: 30px;*/
}

.list-dropdown{
    display: inline-block;
    float: left;
    /* padding: 5px; */
    margin-right: 5px;
    /*width: 40%;*/
    /* padding: 2px; */
    height: 26px;
    border: 1px solid #586573;
    /* border-radius: 4px; */
    /* color: #6F6F6F; */
    border: 1px solid #586573;
    /* margin-bottom: 5px;  */
    /* width: 412px; */
    /* font-size: 110%; */
}




#fst{
    text-align: center;
    width: 25px;
}


#title{
    margin: 0;
}

#edit {
    width: 50px;
    text-align: center;
}

